.active-deals-container-main{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.active-deals-container{
    width: 80%;
    display: flex;
    color: antiquewhite;
    padding-top: 10px;
}

.col-1{
    width: 10%;
}
.col-2{
    width: 40%;
}
.col-3{
    width: 20%;
}
.col-4{
    width: 20%;
}
.col-5{
    width: 10%;
}

#downloadIcon{
    &:hover{
        cursor: pointer;
    }
}
